<div class="hero h-96" style="background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.behance.net%2Fgallery%2F29090891%2FFood-Hero-free-download&psig=AOvVaw1a_od3ksmPsYrsCiubBIW4&ust=1695643506745000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCOD2s7maw4EDFQAAAAAdAAAAABAE);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-20xl font-bold">The New Way To Search Food and Drinks</h1>
      <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
